@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <label for="file-input">Send file</label>
    <form asp-controller="Files" asp-action="SendMatrixAndVectorToServer" method="post" enctype="multipart/form-data">
        <input type="file" name="matrixFile" /><br>
        <input type="file" name="vectorFile" /><br>
        <input type="submit" value="Open" />
    </form>
</div>
